#xz_full {
    font-family: "Helvetica Neue",Verdana,Arial,"Hiragino Sans GB","WenQuanYi Micro Hei","Heiti SC",STHeiti,"Microsoft Yahei",SimSun,sans-serif;
    background-color:#FAF7ED;
    width:100%;
    height:100%;
    margin-top:0px;
    border-top:0px;
}

#xz_content {
    width:80%;
    padding: 5%, 0;

    font-size:20px;
    color: #333;
    background-color: #FAF7ED;
}

#xz_title {
    cursor:pointer;
    word-break:keep-all;/* 不换行 */
    white-space:nowrap;/* 不换行 */
    overflow:hidden;/* 内容超出宽度时隐藏超出部分的内容 */
    text-overflow:ellipsis;/* 当对象内文本溢出时显示省略标记(...) ；需与overflow:hidden;一起使用。*/
    
    position:fixed;
    left:0px;
    margin-top:0px;
    margin-bottom:10px;
    padding-left:30px;
    padding-right:30px;
    top:-10px;
    opacity:1;
    background: #fefefe;
    padding-top: 30px;
    padding-bottom: 10px;
    width:110%;
    box-shadow:rgba(0,0,0,0.1) -3px 3px 4px ;
    
    background:#fefefe;
    font-size:24px;
    font-weight:normal;
    font-style:normal;
    color: #222222;
}

#xz_nav {
    position:fixed;
    right:0px;
    bottom:10px;
    color: #fff;
}
#xz_nav a{
    text-decoration: none;
    margin-bottom:20px;
    color:#333;
    background:#fff;
    padding-right: 20px;
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-left:2px solid green;
    text-align:right;
    width:120px;
}
#xz_nav a:hover{
    cursor:pointer;
    border-left:2px solid #955251;

}